<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明-->

    <!--3):构造注入(理解)
--><!--使用name属性实现构造注入-->
    <bean id="myStudent1" class="org.example.ba03.Student"><!--找构造方法-->
        <constructor-arg name="myname" value="张三"/>
        <constructor-arg name="myage" value="20"/>
        <constructor-arg name="myschool" ref="myxuexiao"/>
    </bean>
    <!--使用index属性-->
    <bean id="myStudent2" class="org.example.ba03.Student">
        <constructor-arg index="0" value="张三"/>
        <constructor-arg index="1" value="20"/>
        <constructor-arg index="2" ref="myxuexiao"/>
    </bean>
    <!--省略index属性-->
    <bean id="myStudent3" class="org.example.ba03.Student">
        <constructor-arg index="0" value="张三"/>
        <constructor-arg index="1" value="20"/>
        <constructor-arg index="2" ref="myxuexiao"/>
    </bean>
    <!--声明Scholl对象-->
    <bean id="myxuexiao" class="org.example.ba03.School">
        <property name="name" value="清华大学"/>
        <property name="address" value="海淀区"/>
    </bean>
    <!--创建File，使用构造注入-->
    <bean id="myfile" class="java.io.File">
        <constructor-arg name="parent" value="E:\IDEwork\java-wokespace\Spring-course\ch02-di-xml"/>
    <constructor-arg name="child" value="redmi.txt"/>
    </bean>
    </beans>