<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明-->

    <!--2):应用类型set注入-->
    <bean id="myStudent2" class="org.example.ba02.Student">
        <property name="name" value="李四"/>
        <property name="age" value="20"/>
        <property name="school" ref="mySchool"/><!--ref=下一个id-->
    </bean>
    <bean id="mySchool" class="org.example.ba02.School">
        <property name="name" value="北京大学"/>
        <property name="address" value="海淀区"/>
    </bean>
    </beans>